* {
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    border: 10px black;
}

header {
    background-image: linear-gradient(to right, red, yellow);
    text-align: center;
}

input,
#searchbar {
    background-color: bisque;
}

#cityInput,
#cityName,
#inputContainer,
button {
    text-align: center;
}

#previousSearch{
    position:-webkit-sticky;
    border: 2px solid black;
    height: 50px;
    width: 500px;
}

#weatherContainer {
    border-radius: 10%;
    width: 1300px;
    height: 300px;
    transform: translate(-50%, -50%);
    margin-right: -50%;
    left: 50%;
    top: 70%;
    position: absolute;
}

#iconsContainer {
    border: 30px black;
    border-radius: 10%;
    width: 1200px;
    height: 240px;
    transform: translate(-50%, -50%);
    margin-right: -50%;
    left: 50%;
    top: 50%;
    position: absolute;
}

#icons {
    border-radius: 10px;
    width: 190px;
    height: 200px;
    display: inline-block;
}

.weather {
    text-align: center;
    border-radius: 5px;
}

h2 {
    /*   background-color: aqua; */
    text-align: left;
}

.weather,
.temp,
.wind,
.humidity {
    /* background-color: aquamarine; */
    width: 25px;
    height: 25px;
    display: inline-block;
    text-align: center;
}

.imgClass {
    /*  background-color: blue; */
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
}